arch~=7.2.0
einops==0.8.1
matplotlib~=3.10.6
nltk==3.9.1
numpy~=2.1.2
pandas~=2.3.2
patool~=4.0.1
scikit_learn~=1.7.1
scipy==1.16.1
sktime~=0.38.5
statsmodels~=0.14.5
sympy==1.13.3
timm==1.0.19
torch~=2.8.0+cu129
tqdm~=4.67.1
